/* You can add global styles to this file, and also import other style files */

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,52,1) 0%, rgba(0,212,255,1) 100%);
  color: lightgray;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15); 
  //border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  //border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.card {
  background-color: transparent;

  .card-header{
    background-color: rgba(37, 37, 37, 0.2);
  }
  .card-body {
    background-color: transparent;
  }
}

.pointer {
  cursor: pointer;
}